.navigation--container{
    background-color: #181823;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

    .links{
        padding: 10px 20px;
        color: #E9F8F9;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: 600;
    }
}